<a href="https://colab.research.google.com/github/BladimirBL/Talento-Tech/blob/main/Datos_Erroneos_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import pandas as pd
dfd= pd.DataFrame( )

In [122]:
# DataFrame

data = {'id': [1, 2, 3, 4, 5],
    'weight': ['144.5', '167.2', '124.1', '144.5', None],
    'height': ['5.9', '5.4', '5.2', '5.9', None],
    'age': [33, 45, None, 33, 54],
    'gender': ['M', 'M', 'F', 'M', 'F']}

dfd= pd.DataFrame(data)

In [123]:
print(dfd)

   id weight height   age gender
0   1  144.5    5.9  33.0      M
1   2  167.2    5.4  45.0      M
2   3  124.1    5.2   NaN      F
3   4  144.5    5.9  33.0      M
4   5   None   None  54.0      F

In [124]:
# Se usa para mostrar columnsa y filas
dfd.shape

(5, 5)

In [125]:
#Muestra informaci√≥n sobre el DataFrame, incluyendo tipos de datos y valores no nulos.
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   weight  4 non-null      object
 2   height  4 non-null      object
 3   age     4 non-null      float64
 4   gender  5 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 328.0+ bytes

In [131]:
# Esto es para eliminar filas correspondientes
dfd.dropna(inplace=True)
dfd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   weight  3 non-null      object
 2   height  3 non-null      object
 3   age     3 non-null      float64
 4   gender  3 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 144.0+ bytes

In [127]:
dfd.shape
dfd.info()
print(dfd)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   weight  3 non-null      object
 2   height  3 non-null      object
 3   age     3 non-null      float64
 4   gender  3 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 144.0+ bytes
   id weight height   age gender
0   1  144.5    5.9  33.0      M
1   2  167.2    5.4  45.0      M
3   4  144.5    5.9  33.0      M